<h4>Cities</h4>
<div class="ui-g">
    <div class="ui-g-4">
        <button pButton type="button" label="Add city" (click)="showAddDialog()"></button>
    </div>
    <div class="ui-g-4">
        <button pButton type="button" [disabled]="!changes" label="Define Logistic center"
            (click)="findLogisticCenter()"></button>
    </div>
    <div *ngIf="logisticCenter" class="ui-g-4">
        Logistic center: {{logisticCenter.name}}
    </div>
</div>
<p-dialog header="Add city" *ngIf="cityForAdd" [(visible)]="showDialog">
    <div class="ui-g">
        <label>Name</label><input pInputText type="text" [(ngModel)]="cityForAdd.name" required>
    </div>
    <p-footer>
        <button type="button" [disabled]="!cityForAdd.name" pButton icon="pi pi-check" (click)="addCity()" label="Add"></button>
        <button type="button" pButton icon="pi pi-times" (click)="closeAddDialog()" label="Cancel"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>
<p-table [value]="cities" dataKey="vin" editMode="row" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Created on</th>
            <th>Logistic center</th>
            <th style="width:8em"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-city let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="city">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="city.name" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{city.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                {{city.createdOn | date: 'short'}}
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        {{city.isLogisticCenter}}
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{city.isLogisticCenter}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="text-align:center">
                <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                    class="ui-button-info" (click)="onRowEditInit(city)"></button>
                <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                    class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(city)"></button>
                <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                    class="ui-button-danger" (click)="onRowEditCancel(city, ri)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>