<h4>Routes</h4>
<button pButton type="button" label="Add route" (click)="showAddDialog()"></button>
<p-dialog header="Add city" *ngIf="showDialog && routeForAdd" [(visible)]="showDialog && routeForAdd">
    <div class="ui-g">
        <div class="ui-g-6">
            <label>Start</label>
            <p-autoComplete [(ngModel)]="routeForAdd.start" [suggestions]="filteredCitiesSingle"
                (completeMethod)="filterCitySingle($event)" field="name" [size]="30" placeholder="Cities"
                [minLength]="1">
            </p-autoComplete>
        </div>
        <div class="ui-g-6">
            <label>End</label>
            <p-autoComplete [(ngModel)]="routeForAdd.end" [suggestions]="filteredCitiesSingle"
                (completeMethod)="filterCitySingle($event)" field="name" [size]="30" placeholder="Cities"
                [minLength]="1">
            </p-autoComplete>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-6">
            <label>Name</label>
            <p-inputMask [(ngModel)]="routeForAdd.name" mask="a99" required></p-inputMask>
        </div>
        <div class="ui-g-6">
            <label>Distance</label>
            <p-spinner [(ngModel)]="routeForAdd.distance" required></p-spinner>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="addRoute()" label="Add"></button>
        <button type="button" pButton icon="pi pi-times" (click)="closeAddDialog()" label="Cancel"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>
<p-table [value]="routes" dataKey="vin" editMode="row">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Distance</th>
            <th>Start</th>
            <th>End</th>
            <th style="width:8em"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-route let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="route">
            <td>
                {{route.id}}
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <div class="ui-g">
                            <div class="ui-g-6">
                                <input pInputText type="text" [(ngModel)]="route.name" required>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{route.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <div class="ui-g">
                            <div class="ui-g-6">
                                <input pInputText type="text" [(ngModel)]="route.distance" required>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{route.distance}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-autoComplete [(ngModel)]="route.start" [suggestions]="filteredCitiesSingle"
                            (completeMethod)="filterCitySingle($event)" field="name" [size]="30" placeholder="Cities"
                            [minLength]="1"></p-autoComplete>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{route.start?.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-autoComplete [(ngModel)]="route.end" [suggestions]="filteredCitiesSingle"
                            (completeMethod)="filterCitySingle($event)" field="name" [size]="30" placeholder="Cities"
                            [minLength]="1"></p-autoComplete>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{route.end?.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="text-align:center">
                <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                    class="ui-button-info" (click)="onRowEditInit(route)"></button>
                <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                    class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(route)"></button>
                <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                    class="ui-button-danger" (click)="onRowEditCancel(route, ri)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>